{% extends "base.html" %}
{% block content %}

	<form action=" {% url 'posts:create' %}" method = "POST">
		
		  {% csrf_token %}
		  {{form}}
		  {% for field in PostForm %}
			  <div class= "{% if field.errors %}error{%endif%}" >
			  	{{field.label_tag}}{{field}}
			  </div>

		        {% for error in field.errors %}
		            <small class="error">{{ error }}</small>
		        {% endfor %}
		    {%endfor%}
		<div class = "inputbutton">
        	<input type="submit" value="Create" />
        </div>
	</form>

{% endblock content %}
