{% extends "base.html" %}
{% block content %}

	<form action="{% url 'posts:details' slug=post.slug %}" method = "POST">

		{% csrf_token %}
		
		{% for field in form %}
			  <div class= "{% if field.errors %}error{%endif%}" >
			  	{{field.label_tag}}{{field}}
			  </div>

		        {% for error in field.errors %}
		            <small class="error">{{ error }}</small>
		        {% endfor %}
		    {%endfor%}

		<input type="submit" value ="update">

	</form>

	<form action="{% url 'posts:delete' slug=post.slug %}" method="POST">
        {% csrf_token %}


        <input id = "delete" type="submit" class ="deletebutton" value="Delete">
    </form>

{% endblock content %}